<a href="https://colab.research.google.com/github/AarohiAnalyzes/Python-for-Data-Analysis/blob/main/Module1_Importing_Datasets/Lesson5/Lesson5_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Accessing Databases with Python**

In [ ]:
import sqlite3

In [ ]:
# connects the database
conn =  sqlite3.connect("students.db")

In [ ]:
# Create a cursor
cur = conn.cursor()

In [ ]:
# Create a table
cur.execute(
    '''
    CREATE TABLE IF NOT EXISTS students (
      id INT PRIMARY KEY,
      name TEXT,
      marks REAL
    )
    '''
)

In [ ]:
# Insert data
cur.execute("INSERT INTO students (id, name, marks) values(?,?,?)", ("101","Alice","90"))
cur.execute("INSERT INTO students (id, name, marks) values(?,?,?)", ("102","Bob","75"))

In [ ]:
# Save the changes
conn.commit()

In [ ]:
# Read data

cur.execute("SELECT * FROM students")
rows = cur.fetchall()
for row in rows:
  print(row)

(101, 'Alice', 90.0)
(102, 'Bob', 75.0)

In [ ]:
# Close the connection
conn.close()